<div id="<%= dom_id list %>">
  <p>
    <strong>Name:</strong>
    <%= list.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= list.description %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= list.type %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= list.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= list.updated_at %>
  </p>

</div>
